$color-page-background: #f3f3f3;
$color-header-background: #f5af18;
$color-top-link-background: #f2990d;
$color-white: #fff;
$color-header-bottom: #bb112d;
$color-shopping-cart-background: #ae0824;
$color-primary: #ff1b41;
$color-border: #e0e0e0;
