$breakpoint-sm: 480px;
$breakpoint-md: 750px;
$breakpoint-lg: 970px;
$breakpoint-xl: 1200px;

@mixin sm {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

$color-page-background: #f3f3f3;
$color-header-background: #f5af18;
$color-top-link-background: #f2990d;
$color-header-bottom: #bb112d;
$color-shopping-cart-background: #ae0824;
$color-border: #e0e0e0;

$color-primary: #ff1b41;
$color-white: #fff;
$color-grey: #808080;
$color-yellow: #ffae00;
$color-blue: #37a1f9;
