@import "colors";
@import "breakpoints";

.header {
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;

  @include md {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    box-sizing: border-box;
    padding: 0 1em;
    background: $color-header-background url("../images/header-background.png");
  }

  &__part {
    max-width: $breakpoint-xl;
    width: 100%;
  }

  &__outer {
    display: none;

    @include md {
      display: flex;
    }

    &-logo {
      padding: .5em 0 0;
      flex-grow: 1;
    }

    &-link {
      display: flex;
      align-items: center;
      padding: 0 1em;
      color: $color-white;
      text-decoration: none;
      font-size: 13px;

      &:hover {
        background-color: $color-top-link-background;
      }

      &-icon {
        margin-right: .5em;
        font-size: 1.5em;
        vertical-align: sub;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $color-header-bottom;

    @include lg {
      background-position-x: 1em;
      background-position-y: center;
      background-repeat: no-repeat;
      background-image: url("../images/logo_kdv_big.png");
    }

    @include xl {
      background-position-x: 4em;
    }

    &-top {
      display: flex;
      height: 100%;

      @include md {
        flex-grow: 1;
        height: auto;
      }

      &-menu-icon {
        display: flex;
        align-items: center;
        padding: 0 16px;
        box-sizing: border-box;
        font-size: 20px;
        color: $color-white;
        cursor: pointer;

        @include md {
          display: none;
        }
      }

      &-logo {
        width: 100%;
        background-position-y: center;
        background-repeat: no-repeat;
        background-image: url("../images/logo_kdv_small.png");
        background-size: 4em;

        @include md {
          flex: 1 1 25%;
          background-position-x: 1em;
          background-size: auto;
        }

        @include lg {
          background-image: none;
        }
      }

      &-info {
        display: none;

        @include md {
          flex: 2 1 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 1em;
          box-sizing: border-box;
        }

        &-icon {
          display: none;

          @include lg {
            display: inline;
            padding-right: .5em;
            font-size: 20px;
            color: $color-primary;
          }
        }

        &-link {
          text-decoration: none;
          color: $color-white;
          font-size: 14px;
          font-weight: bold;
        }

        &-support {
          color: $color-white;
          display: inline-block;
          vertical-align: middle;

          &-caption {
            margin: 0;
            font-size: 11px;
          }

          &-number {
            margin: 0;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }

      &-cart {
        display: none;

        @include md {
          flex: 1 1 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color-shopping-cart-background;
          color: $color-white;
        }

        &-link {
          position: relative;
          font-size: 14px;
          font-weight: bold;
        }

        &-amount {
          position: absolute;
          top: -1em;
          padding: 0 .5em;
          font-size: 11px;
          font-weight: normal;
          background-color: $color-primary;
          border-radius: 6px;
        }
      }

      &_sticky {
        @include md {
          display: none;
        }
      }
    }

    &-bottom {
      display: none;

      @include md {
        display: flex;
        height: 64px;
      }

      &-catalog {
        flex: 1 1 25%;
        padding: .5em 0 .5em 1em;
        box-sizing: border-box;

        &-button {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          padding-left: 1em;
          padding-right: 1em;
          font-weight: bold;
          color: $color-white;
          background-color: $color-primary;
          cursor: pointer;

          @include lg {
            display: none;
          }
        }
      }

      &-search {
        flex: 2 1 50%;
        display: flex;
        position: relative;
        padding: .5em 1em;
        box-sizing: border-box;

        &-input {
          flex-grow: 1;
          height: 100%;
          vertical-align: middle;
          padding: 0 1em;
          font-size: 14px;
          border: none;
        }

        &-category {
          display: none;

          @include lg {
            display: flex;
            align-items: center;
            position: absolute;
            right: 10em;
            height: calc(100% - 1em);
            color: $color-grey;
            font-size: 14px;
            cursor: pointer;
          }

          &-arrow {
            padding-left: .5em;
          }
        }

        &-button {
          height: 100%;
          vertical-align: middle;
          border: none;
          border-left: 1px solid $color-border;
          cursor: pointer;
          background-color: $color-white;
          font-size: 1em;
          padding: 0 1em;

          &:hover {
            color: $color-primary;
          }

          &-icon {
            @include lg {
              padding-right: 1em;
            }
          }

          &-text {
            display: none;

            @include lg {
              display: inline;
            }
          }
        }
      }

      &-cart {
        flex: 1 1 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 .5em;
        box-sizing: border-box;
        background-color: $color-shopping-cart-background;
        color: $color-white;
        font-size: 18px;
        font-weight: bold;
      }
    }

    &_sticky {
      @include md {
        position: fixed;
        height: 64px;
        width: calc(100% - 2em);
      }

      @include lg {
        background-image: url("../images/logo_kdv_small.png");
        background-position-x: 1em;
      }
    }
  }
}


