@import "variables";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;

  &_obscured {
    &:before {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;

      @include lg {
        display: none;
      }
    }
  }

  @include md {
    margin-top: 0;
  }

  &__container {
    display: flex;
    width: 100%;
    max-width: $breakpoint-xl;

    @include md {
      padding: 16px;
      align-items: flex-start;
    }
  }

  &__breadcrumbs {
    display: none;

    @include md {
      display: block;
      width: 100%;
      max-width: $breakpoint-xl;
      padding: 16px 16px 0;
      font-size: 14px;
    }

    &_icon {
      color: $color-grey;
      margin: 0 4px;
    }
  }
}
