@import "variables";

.product-list {
  width: 100%;

  @include lg {
    flex: 3 1 75%;
  }

  &__breadcrumbs {
    display: none;

    @include md {
      display: block;
      margin-bottom: 16px;
      font-size: 14px;
    }

    &_icon {
      color: $color-grey;
      margin: 0 4px;
    }
  }

  &__header {
    padding: 16px 16px 0;
    font-size: 20px;
    font-weight: 500;
    background-color: $color-white;
  }

  &__filter-button {
    width: calc(100% - 32px);
    margin: 16px;
    padding: 16px;
    border: 0;
    background-color: $color-white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: $color-white;
      background-color: $color-primary;
    }

    @include md {
      width: 100%;
      margin: 16px 0;
    }

    @include lg {
      display: none;
    }

    &_tile {
      @include md {
        margin-bottom: 8px;
      }
    }
  }

  &__products-container {
    margin-bottom: 16px;

    @include lg {
      margin-top: 16px;
    }

    &_tile {
      @include md {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 8px;
        margin-left: -8px;
        margin-right: -8px;
      }

      @include lg {
        margin-top: 8px;
      }
    }
  }
}
